@{
    ViewBag.Title = "MyView";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My View</title>
</head>
<body>
    <div>
        <h2>MyView</h2> 
        <p>Message: @ViewBag.Message</p>
        <p>MachineName: @ViewBag.MachineName</p>
    </div>
</body>
</html>
